.container {  display: grid;
    grid-template-columns: 1fr 0.9fr 1.1fr;
    grid-template-rows: 0.5fr 1.5fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
  }
  
  .svg { grid-area: 2 / 3 / 3 / 4; }
  
  .text { grid-area: 2 / 1 / 4 / 3; }
  
  .tool { grid-area: 3 / 3 / 4 / 4; }
  
  .grid-header { grid-area: 1 / 1 / 2 / 4; }
  
  .grid-svg { grid-area: 2 / 3 / 3 / 4; }
  
  .grid-text { grid-area: 2 / 1 / 4 / 3; }
  
  .grid-tool { grid-area: 3 / 3 / 4 / 4; }
  